/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*------------------------------------ */

/* Стили для демонстрации */
html,
body {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------------------ */

/* Основные стили */
.button {
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.button::before,
.button::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid red;
    top: -10px;
    left: 50%;
    z-index: 1;
    transition: all 0.8s ease 0s;
    margin: 0px 0px 0px -40px;
}

.button::before {
    animation: rotate 20s infinite linear;
}

.button::after {
    animation: rotate 25s infinite linear;
}



.button:hover::before,
.button:hover::after {
    left: 100%;
    opacity: 0;
}




.button__text {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    border-radius: 50px;
    font-size: 34px;
    text-transform: uppercase;
    color: #18b5a4;
    letter-spacing: 10px;
    transition: all 1s ease 0s;
    top: 0;
    overflow: hidden;
}

.button__text::before,
.button__text::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #eee;
    transition: all 0.8s ease 0s;
}



.button__text::before {
    left: 0;
    z-index: 2;
}

.button__text::after {
    right: 0;

}

.button__text span {
    position: relative;
    z-index: 2;
}

.button:hover .button__text {
    top: -10px;
    color: #fff;
    transition: all 0.5s ease 0s;
    box-shadow: 0 5px 0 0 #0c5b52;
}

.button:hover .button__text::before {
    width: 100%;
}

.button:hover .button__text::before,
.button:hover .button__text::before {
    background-color: #18b5a4;
}

.button:hover .button__text::before {
    width: 100%;
}

.button:active .button__text {
    top: -7px;
    transition: all 0.1s ease 0s;
    box-shadow: 0 2px 0 0 #0c5b52;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}